<!DOCTYPE>

<html lang="en">
<!-- Head information -->
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="style.css" >

        <title>Learning Japanese: {% block title %}{% endblock %}</title>
    </head>
<!-- Begin body -->
    <body>
    <!-- Main Header -->
      <header class="primary-header">

        <h1 class="logo">
          <a href="#">JLau</a>
        </h1>
        <nav class="main-nav nav">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Hiragana</a></li>
            <li><a href="#">Katakana</a></li>
          </ul>
        </nav>
      </header>
    <!-- Hero section: Introducing user to what this site does -->
    <section class="hero container">
      <h3 class="hero-header">
      Learning Japanese
      </h3>
      <p>Welcome to my site!  Here, I will try to teach you the basics the of Japanese
      alphabet!  The Japanese language can be divided into 3 different writing methods.</p>
      <p>The most basic of them is <strong>Hiragana,</strong> the first group of the Japanese alphabet.
      Most words in Japanese can be expressed in Hiragana, and will be the cornerstone
      in learning the language.</p>
      <p>The second group of Japanese writing is <strong>Katakana,</strong> which deals mainly, but
      not limited to, foreign words that were not originally in the Japanese language.</p>
      <p>Lastly, there is <strong>Kanji,</strong> which are Chinese characters adopted into the Japanese
      language from long ago.  In general, Kanji characters keep the saming meaning in the Chinese
      language, but most are pronounced and expressed completely different in Japanese.</p>
      <p>However, this site will only focus on <strong>Hiragana</strong> and <strong>Katakana</strong></p>
      <h5> From below, please choose which track you would like to pursue!</h5>
    </section>
    <footer>
      <p>This site was created as a project for Harvard's CS50: Intro to Computer Science Class.  Click <a href="#">here</a> to learn more!</p>
    </footer>
    <a href="#"></a>
</html>
