{% extends "layout.html" %}

{% block title %}
Katakana: Index
  {% endblock %}

{% block main %}
<section class="main-container" id="k-background">
  <h2 class="title">Katakana Lesson: The Base 46</h2>
    {% for i in range(groups) %}
      <form class="show" action="{{url_for ('katafirst')}}" method="post">
        <button id="k-banner" class="banner" type="submit" name="group" value='{{i}}'>
          <h3 class="number">{{i + 1}}</h3>
          <h4><span class="upright">{{words[i][i]}}<br> Group<br>  of<br> Characters</span></h4></button>
      </form>
    {% endfor %}

</section>
{% endblock %}
